@import url('../vendor/normalize.css');

.template-cell-edit-mode,
.edit-mode .read-mode {
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
}

.template-row,
.edit-mode .template-cell-edit-mode  {
  position: static;
  visibility: visible;
}
